body{
    font-family: "work sans", sans-serif;
}
:root{
    --main-color:#10cab7;
}
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    
}

/*start nav-bar*/
.navbar{
    padding: 20px;
    background-color: white;
    

}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-bar img{
    width: 60px;
}
.right-bar{
    justify-content: flex-end;
    position: relative;
    
    
    
}
.right-bar:hover .icon span:nth-child(2){
    width: 100%;
}
.icon{
    width: 30px;
    height: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}
.icon span{
    background-color: #aaa;
    margin-bottom: 5px;
    
}
.icon span:nth-child(1){
    width: 100%;
    height: 2px;
    background-color: black;
}
.icon span:nth-child(2){
    width: 60%;
    height: 2px;
    background-color: black;
    transition: 0.3s;
}
.icon span:nth-child(3){
    width: 100%;
    height: 2px;
    background-color: black;
}
.navbar .right-bar ul{
    
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);background-color: #aaa;
    display: none;
    
    
    
}
.navbar ul::before{
    content: "";
    border-width: 10px  ;
    border-style: solid;
    border-color: transparent transparent #aaa transparent;
    position: absolute;
    right: 5px;
    top: -20px;
    
}
.navbar li a{
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    border-bottom: black solid 1px;
}
.navbar li a:hover{
    padding-left: 30px;
}
.navbar .zero-border{
    border-bottom:white solid 0px;
    

}
.right-bar:hover ul{
    display: block;
    
}

/*end nav-bar*/
/*start landing-section*/
.landing-bage{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/landing.jpg);
    background-size: cover;
}
.landing-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    width: 350px;
    max-width: 100%;
}
.landing-content h1{
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing-content p{
    
    font-size: 19px;
}
/*end landing-section*/